package ${projectOrAuthor.packageName}.entity;
/**
*  ${currentTbConfig.tableDesc}实体类
*
* @author ${projectOrAuthor.author}
* @since ${projectOrAuthor.dataTime}
*/
@Data
@ApiModel("${currentTbConfig.tableDesc}")
@TableName(value = "${currentTbConfig.originTableName}")
public class ${currentTbConfig.tableNameCase} extends Model< ${currentTbConfig.tableNameCase} > {
#foreach($item in $tableFieldArr)
@ApiModelProperty(value = "$item.desc")
private ${item.type} $item.field;
#end

/**
* 获取主键值
*
* @return 主键值
*/
@Override
protected Serializable pkVal() {
return this.${currentTbConfig.uniKey};
}
}
