package ${projectOrAuthor.packageName}.entity;
/**
*  ${dbTableConfig.multiTableDesc}实体类
*
* @author ${projectOrAuthor.author}
* @since ${projectOrAuthor.dataTime}
*/
@Data
@ApiModel("${dbTableConfig.multiTableDesc}")
public class ${dbTableConfig.multiTableNameCase}  {
#foreach($mtcItem in $multiTableConfig)
    #foreach( $tfItem in $mtcItem.tableFormArr)
    @ApiModelProperty(value = "$tfItem.desc")
    private ${tfItem.type} $tfItem.field;
    #end
#end

}
