package ${projectOrAuthor.packageName}.Mapper;
/**
*  ${currentTbConfig.tableDesc}Mapper
*
* @author ${projectOrAuthor.author}
* @since ${projectOrAuthor.dataTime}
*/
public interface ${currentTbConfig.tableNameCase}Mapper extends BaseMapper< ${currentTbConfig.tableNameCase} > {

}
