<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${projectOrAuthor.packageName}.mapper.${projectOrAuthor.multiTableNameCase}Mapper">
    <sql id="Base_Column_List">
        #foreach($fItem in $multiTableConfig)
            #foreach($tableShowArrItem in ${fItem.tableShowArr})
                ${fItem.tableName}.${tableShowArrItem.originField},
            #end
        #end
    </sql>

    <select id="select${projectOrAuthor.multiTableNameCase}" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        #set($firstTbConfig=$multiTableConfig[0])
        FROM ${firstTbConfig.originTableName}  ${firstTbConfig.tableName}
        #foreach($fItem in $multiTableConfig.subList(1,$multiTableConfig.size()))
            LEFT JOIN ${fItem.originTableName} ${fItem.tableName}
            ON  ${firstTbConfig.tableName}.${firstTbConfig.associationKey}=${fItem.tableName}.${fItem.associationKey}
        #end
        <where>
            #foreach($mtcItem in $multiTableConfig)
                #foreach($tqrItem in ${mtcItem.tableQueryArr})
                    #if($tqrItem.field.indexOf("time")!=-1)
                    <if test="params.${tqrItem.field} != null">
                        AND ${mtcItem.tableName}.${tqrItem.originField}
                        BETWEEN #{params.${tqrItem.originField}Start} AND #{params.${tqrItem.originField}End}
                    #else
                        <if test="params.${tqrItem.field} != null">
                            ${mtcItem.tableName}.${tqrItem.originField} LIKE '%${params.sn}%'
                        </if>
                    </if>
                    #end
                #end
            #end
        </where>
    </select>
</mapper>